.bg-1 {
	background: url("https://placehold.it/1592x362") no-repeat 50% 50%;
	background-size: cover;
}

.bg-2 {
	background: url("https://placehold.it/1592x362");
	background-size: cover;
}

.bg-home {
	background: url("../../assets/images/banner/vaksinasiorg.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-mengenali {
	background: url("../../assets/images/banner/mengenali%20jenis%20vaksin%20COVID-19.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-registrasi {
	background: url("../../assets/images/banner/registrasi%20vaksin%20mandiri.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-database {
	background: url("../../assets/images/banner/database%20vaksinasi.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-lapor {
	background: url("../../assets/images/banner/lapor.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-contact {
	background: url("../../assets/images/banner/Get%20in%20Touch.jpg") no-repeat 50% 50%;
	background-size: cover;
}